* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(128, 123, 123);
  font-size: medium;
  margin: 0;
}

.topo {
  background-color: rgb(43, 41, 40);
  color: white;
  text-align: center;
  padding: 1%;
}

.foto{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 400px;
}

.nome{
  margin-left: 200px;
  margin-bottom: 100px;
  font-size: 20px;
}

.topo img {
  display: flex;
  margin-left: 50px;
  border-radius: 20%;
}

.menu {
  text-align: center;
  padding: 0px 16px;
  float: center;
  border: 5px solid black;
}

.menu a,
img {
  color: black;
  text-decoration: none;
}

.lados {
  float: left;
  width: 50%;
  text-indent: 10px;
  height: 350px;
  padding: 15px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.embaixo {
  text-align: center;
  border: 5px solid black;
}

.embaixo th,
.embaixo td,
h {
  border: 1px solid #000000;
  text-align: center;
  padding: 4px;
}

.embaixo table{
  margin-left: 350px;
  margin: auto;
}

.rodape {
  background-color: rgb(43, 41, 40);
  color: white;
  text-align: center;
  border: 5px solid rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
}

.rodape label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.rodape input[type="email"],
.rodape input[type="number"],
.rodape textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
